body{
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}
[class*= "col-"] {
    float: left;
    background-color: blue;
    border: 3px solid white;
    text-align: center;
    color: #FFF;
    border-radius: 8px;
}
.row::after{
    content: "";
    clear: both;
    /* display: table; */
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 50%;
}
.col-6{
    width: 100%;
}